<h2>Table</h2>

<table class="table table-bordered THwidthSize text-center">
    <thead>
      <tr>
        <th class="equal-width">ID</th>
        <th class="equal-width">Name</th>
        <th class="equal-width">Brand</th>
        <th class="equal-width">Color</th>
        <th class="equal-width">Price</th>
        <th class="equal-width">Image</th>
        <th class="equal-width">Status</th>
        <th class="equal-width">Action</th>
      </tr>
    </thead>
</table>

  <app-data *ngFor="let data of listofPosts; let i = index" [data]="data" [index]="i"></app-data>


